a {
	font-size: 25px;
	color: magenta;
}

h1 {
	color: red;
	font-size:60px;
} 

div { 
	font-size: 56px;
	color: magenta;
	
}

h2 {
	font-size: 32px;
	                                             
}

p {
    font-size: 28px;
    color: pink;
}

p1 {
    font-size: 30px;
    color: aquamarine;
    
}

p2 {
    font-size: 32px;
    color:yellow;
    
}